<%= bootstrap_form_with(url: restaurant_index_path, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
    <h2>No se ha podido realizar la reserva</h2>
      <ul>
        <% book.errors.messages.values.each do |message| %>
          <%message.each do |msg| %>
            <li><%= msg %></li>
          <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-field">
    <%= form.email_field :email, label: "Email" %>
  </div>

  <div class="text-field">
    <%= form.datetime_select :start_time, label: "Fecha y Hora" %>
  </div>

  <div class="number-field">
    <%= form.number_field :diners, min: 2, max: 4, value: ( book.diners == nil ? 2 : book.diners ), label: "Comensales" %>
  </div>

  <%= form.hidden_field :state, value: :pending %>

  <div class="actions">
    <%= form.submit button_name, class: "btn btn-primary" %>
  </div>
<% end %>
