<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2>No se ha podido realizar la reserva</h2>

      <ul>
        <% book.errors.messages.values.each do |message| %>
          <%message.each do |msg| %>
            <li><%= msg %></li>
          <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :start_time, 'Fecha y Hora' %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :people, 'Comensales' %>
    <%= form.number_field :people %>
  </div>

  <div class="actions">
    <%= form.submit button_name %>
  </div>
<% end %>
