<% content_for :head do %>
    <title>Mi restaurante - Reservas de <%= @email %></title>
<% end %>

<h1>Reservas (<%= @email %>) </h1>

<% if @books.count >= 1 %>
  <table class="pretty table">
    <thead class="table-dark">
      <div class="mt-2 mt-md-0 mb-3 d-flex justify-content-center">
        <div class="flickr_pagination">
          <%= will_paginate @books %>
        </div>
      </div>
      <tr>
        <th><%= sortable "id", "ID" %></th>
        <th><%= sortable "start_time", "Fecha y hora" %></th>
        <th><%= sortable "diners", "Comensales" %></th>
        <th><%= sortable "state", "Estado" %></th>
        <th><%= sortable "optional_charge_cents", "Cargo" %></th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= book.start_time %></td>
          <td><%= book.diners %></td>
          <td><%= state_book(book) %></td>
          <td><%= charge_book(book) %></td>
          <% if ((book.start_time.to_i - @date_now)) >= @grace_time && book.charge == nil && book.state == "confirmed" %>
            <td><%= link_to "Cancelar reserva", cancel_book_path(:token => @token, :id => book), class:"btn btn-danger" , data: { confirm: '¿Cancelar reserva?' } %></td>
          <% else %>
            <td>No hay acciones disponibles</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>¡No hay reservas!</div>
<% end %>

<%= link_to 'Volver a la página principal', root_path, class: "btn btn-secondary" %>