<h1>Cargo por reserva</h1>

<p>
    Se te ha redirigido a esta página porque se han encontrado reservas 
    no presentadas vinculadas a su correo.
</p>

<%= form_tag checkout_books_path do %>
<%= hidden_field_tag "email", @email %>
<%= hidden_field_tag "diners", @diners %>
<%= hidden_field_tag "start_time_1i", @start_time_1i %>
<%= hidden_field_tag "start_time_2i", @start_time_2i %>
<%= hidden_field_tag "start_time_3i", @start_time_3i %>
<%= hidden_field_tag "start_time_4i", @start_time_4i %>
<%= hidden_field_tag "start_time_5i", @start_time_5i %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
    <span>Importe: <strong>5.00€</strong></span>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-label="Pagar cargo"
  data-name="Pagar cargo por reserva"
  data-description="Pago con tarjeta"
  data-amount="500"
  data-currency="eur"
  data-email=<%= @email %>>
  data-locale="auto"></script>
<% end %>
<script src="https://js.stripe.com/v2/"></script> 
<script>
  Stripe.setPublishableKey('pk_test_51IiyYkEDqZ0GL2iF1RR05lQxOvnGwIVE2oGrDE64ylKQaWyzXm6bdCkGoEp2v03AnxF6GN5b9q2yAzVyZHJIR4rX00HurZdGki');
</script>

<p>
  <%= link_to 'Cancelar reserva', books_path, data: { confirm: '¿Cancelar reserva?' } %>
</p>