<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>

<p>
  <strong>Fecha y Hora:</strong>
  <%= @book.start_time %>
</p>

<p>
  <strong>Comensales:</strong>
  <%= @book.people %>
</p>

<%= link_to 'Editar reserva', edit_book_path(@book) %> |
<%= link_to 'Volver a sección de reservas', books_path %>
