<% content_for :head do %>
    <title>Mi restaurante - Detalle de reserva (<%= @book.id %>)</title>
<% end %>

<h1>Detalles de reserva (ID #<%= @book.id %>)</h1>

<% if notice != nil %>
  <div id="notice" class="alert alert-success">
      <%= notice %>
  </div>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @book.start_time %>
</p>

<p>
  <strong>Comensales:</strong>
  <%= @book.diners %>
</p>

<p>
  <strong>Estado de la reserva:</strong>
  <%= state_book(@book) %>
</p>

<p>
  <strong>Cargo en la reserva:</strong>
  <%= charge_book(@book) %>
</p>

<% if signed_in? %>
  <%= link_to 'Editar reserva', edit_book_path(@book), class: "btn btn-primary" %> 
  <%= link_to 'Volver a sección de reservas', books_path, class: "btn btn-secondary" %>
<% else %> 
  <%= link_to 'Volver', root_path, class: "btn btn-primary" %>
<% end %>
