<h1>Detalles de reserva <%= @book.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>

<p>
  <strong>Fecha y Hora:</strong>
  <%= @book.start_time %>
</p>

<p>
  <strong>Comensales:</strong>
  <%= @book.diners %>
</p>

<p>
  <strong>Confirmación:</strong>
  <strong>
    <% if @book.is_confirmed %>
      &#10004
    <% else %>
      &#10006
    <% end %>
  </strong>
</p>

<%= link_to 'Editar reserva', edit_book_path(@book) %> |
<%= link_to 'Volver a sección de reservas', books_path %>
