<% content_for :head do %>
    <title>Mi restaurante - Iniciar sesión como admin</title>
<% end %>

<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-field">
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>

  <div class="text-field">
    <div class="form-group">
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Iniciar sesión", class:"btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Recuperar contraseña', new_admin_password_path, class: 'btn btn-warning' %>





<%# 
<%= render "devise/shared/links" %>
